#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

.btn{
    border-radius: 6px;
    width: 100px;
    height: 40px;
    margin: 5px;
}

.h3{
    font-size: 30px;
}